---
const { class: className = '' } = Astro.props;
---

<div
  {...Astro.props}
  class={`inline-flex min-w-max items-center gap-2.5 font-bold tracking-tight text-neutral-800 dark:text-neutral-100 ${className}`}
>
  <span
    class="flex h-10 w-10 shrink-0 items-center justify-center rounded-lg bg-orange-500 text-base text-white"
    >D</span
  >
  <span class="flex flex-col">
    <span class="block text-lg font-bold">Demain</span>
    <span class="block text-xs font-semibold text-neutral-500 dark:text-neutral-400"
      >Informática</span
    >
  </span>
</div>
